In [11]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
     return a + 2

In [12]:
b()
b()
b()
a

6

In [14]:
#explanation:
#Here the variable 'a' is declared globally inside the function b() 
#Hence, what happens inside the function i.e., a+2 decides the value stored in a (though it is declared outside as a=0)
#When b() is called thrice, a becomes 6

In [26]:
def fileLength(file_name):
 
    try:
        name=open(file_name,'r')
        
        read=name.readlines()
        line=""
        for i in read:
            line+=i
        result=len(line)
        return result
    except FileNotFoundError:
        return ("File {} not found.".format(file_name))

print(fileLength('G:\BDAT\Data_prog_C#\inputq2.txt'))
print(fileLength('G:\BDAT\Data_prog_C#\inputq2.txk'))

123
File G:\BDAT\Data_prog_C#\inputq2.txk not found.

In [32]:
class Marsupial:
        def __init__(self):
            self.pouch=[]
        def put_in_pouch(self, pick):
            self.pouch.append(pick)
        def pouch_contents(self):
            return self.pouch
class Kangaroo(Marsupial):
        def __init__(self, a,b):
            Marsupial.__init__(self)
            self.a=a
            self.b=b
        def jump(self, dx, dy):
            self.a+=dx
            self.a+=dy
        def __str__(self):
            return f"I am a Kanagroo located at coordinates ({self.a},{self.b})"
        
k= Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kanagroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kanagroo located at coordinates (3,0)

In [47]:
def collatz(a):
    if a == 1:
        print(a)
    elif a % 2 == 0:
        print(a)
        a = a//2
        collatz(a)
    else:
        print(a)
        a = 3*a + 1
        collatz(a)
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

In [53]:
def binary(n):
    
    if n > 1:
        binary(n // 2)
        
    print(n % 2,end = '')

binary(0)

01111001

In [54]:
binary(1)

1

In [55]:
binary(3)

11

In [56]:
binary(9)

1001

In [71]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):

    def __init__(self):
        super().__init__()
        self.check = False
        self.array = []

    def handle_starttag(self, tag, attr):
   
        if tag == 'h1' or tag == 'h2':
            self.check = True
            self.lasttag = tag

    def handle_data(self, info):
        if self.lasttag == 'h1' and self.check and info.strip():
            print (info)
        elif self.lasttag == 'h2' and self.check and info.strip():
            print(" "+ info)

infile = open('G:\BDAT\Data_prog_C#\w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

In [72]:
%load_ext sql

In [73]:
%sql sqlite://

In [74]:
%%sql
CREATE TABLE weather
(
    city varchar(15),
    country varchar(15),
    season varchar(15),
    temprature float,
    rainfall float
);

 * sqlite://
Done.

[]

In [75]:
%%sql
INSERT INTO weather VALUES
('Mumbai','India', 'Winter',24.8,5.9),
('Mumbai','India', 'Spring',28.8,16.2),
('Mumbai','India', 'Summer',27.9,1549.4),
('Mumbai','India', 'Fall',27.6,346.0 ),
('London','United Kingdom','Winter',4.2,207.7 ),
('London','United Kingdom','Spring',8.3,169.6 ),
('London','United Kingdom','Summer', 15.7,157.0),
('London','United Kingdom','Fall', 10.4,218.5),
('Cairo','Egypt','Winter', 13.6,16.5),
('Cairo','Egypt','Spring', 20.7,6.5),
('Cairo','Egypt','Summer',27.7,0.1),
('Cairo','Egypt','Fall', 22.2,4.5)

 * sqlite://
12 rows affected.

[]

In [76]:
%%sql
select temprature from weather;

 * sqlite://
Done.

[(24.8,),
 (28.8,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [77]:
%%sql
select distinct city from weather where country =='India';

 * sqlite://
Done.

[('Mumbai',)]

In [78]:
%%sql
select * from weather where season =='Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [79]:
%%sql
select distinct city from weather;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [80]:
%%sql
select city, country, season from weather where rainfall between 200 and 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [81]:
%%sql
select city, country, season from weather where season =='Fall' and temprature >20 order by temprature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt', 'Fall'), ('Mumbai', 'India', 'Fall')]

In [82]:
%%sql
select sum(rainfall) AS total_annual_rainfall from weather where city =='Cairo';

 * sqlite://
Done.

[(27.6,)]

In [83]:
%%sql
select season, sum(rainfall) from weather where city =='Cairo';

 * sqlite://
Done.

[('Winter', 27.6)]

In [85]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
print([a.upper() for a in words])
print([a.lower() for a in words])

print([len(a) for a in words])

print([[a.upper(), a.lower(), len(a)] for a in words])

print([a for a in words if len(a)>=4])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']